---
 const personalImageAlt = "Luciano Alessi"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >

    <!-- ENGLISH VERSION -->
    <p>
      As a <strong>Backend Developer</strong> with a <strong>university degree in Industrial Engineering</strong>, my passion for technology, logical thinking, and problem-solving drives me to continuous learning. My education and work experience have endowed me with skills in process optimization, efficiency seeking, continuous improvement, and understanding customer needs, strengthening my profile as a <strong>Web Developer</strong>.
    </p>
    <p>
      My journey in programming began at an early age in technical high school, where I acquired the fundamental bases of programming, starting with <strong>C++</strong> and <strong>Python</strong>. Then my interest expanded during my time at university, where I took several subjects focused on <strong>programming and databases</strong>. To reinforce and expand my skills, I completed development courses at <strong>CODERHOUSE and freeCodeCamp</strong>.
    </p>
    <p>
      This combination of academic training and self-taught learning has resulted in a diverse set of programming skills, preparing me to face a wide variety of challenges in this field and I am excited to apply these skills in future projects.
    </p>

    <!-- VERSION ESPAÑOL -->
    <!-- <p>
      Como  <strong> Desarrollador Backend </strong> con <strong>formación universitaria en Ingeniería Industrial</strong>, mi pasión por la tecnología, el pensamiento lógico y la resolución de problemas me impulsa a un aprendizaje continuo. Mi formación y experiencia laboral me han dotado de habilidades en optimización de procesos, búsqueda de eficiencia, mejora continua y comprensión de las necesidades del cliente, fortaleciendo mi perfil como <strong>Desarrollador Web</strong>.
    </p>
    <p>
      Mi viaje en programación comenzó a una temprana edad en la escuela secundaria técnica, donde adquirí las bases fundamentales de la programación, iniciando con <strong>C++</strong> y <strong>Python</strong>. Luego mi interés se amplió durante mi tiempo en la universidad, donde cursé varias materias centradas en <strong>programación y bases de datos</strong>. Para reforzar y ampliar mis habilidades, completé cursos de desarrollo en <strong>CODERHOUSE y freeCodeCamp</strong>.
    </p>
    <p>
      Esta combinación de formación académica y aprendizaje autodidacta ha resultado en un conjunto diverso de habilidades en programación, preparándome para enfrentar una amplia variedad de desafíos en este campo y estoy emocionado de aplicar estas habilidades en futuros proyectos.
    </p> -->

  </div>
  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">
</article>




<!-- VERSIONES ANTERIORES -->

<!-- <p>
    Soy un desarrollador backend con formacion Universitaria en Ingenieria industrial.
    Me apaciona la tecnologia, el pensamiento logico, la resolucion de problemas y aprendizaje continuo. 
    La combinacion entre mi formacion como ingniero industrial y mi experiencia laboral me aportaron habilidades como optimizacion de procesos,
    busqueda de eficiencia, mejora continua y comprension de las necesidades del cliente (entre otras) que sientan una gran base, potencian y hacen unico mi perfil como Desarrollador web.
  </p>

  <p>
    Mi formación en programación es diversa y completa. Comencé mi viaje en la programación en la escuela secundaria técnica a una temprana edad, donde adquirí las bases fundamentales de la programación, iniciando por C++ a través de varias materias enfocadas en este campo. Mi interés creció durante mi tiempo en la universidad, donde cursé varias materias centradas en programación y bases de datos, ampliando así mi conocimiento en estos campos.
    Posteriormente, decidí ampliar aún más mis habilidades y completé cursos de desarrollo en CODERHOUSE y freeCodeCamp. Estos cursos me proporcionaron una sólida base en programación y reforzaron mi conocimiento previo.
    Esta combinación de formación académica y ademas aprendizaje autodidacta ha resultado en un conjunto diverso de habilidades en el campo de la programación, equipándome para enfrentar una variedad de desafíos en este campo. Estoy emocionado de aplicar estas habilidades en futuros proyectos.

  </p> -->

    <!-- <p>
      Me llamo Miguel Ángel pero mis amigos me llaman midu. Empecé en la
      programación con un Amstrad, tenía 10 años. Actualmente estoy <strong
        >liderando equipos de desarrollo en multinacionales</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaborar con Mozilla para el desarrollo de las primeras apps en su
        sistema FirefoxOS</strong
      >. Aunque hoy está desaparecido fue un gran avance en el mundo del
      desarrollo web.
    </p>

    <p>
      Como creador de contenido, <strong
        >cuento con el canal de habla hispana más visto del mundo en la
        categoría de <em class="italic">Software & Game Development</em> en Twitch</strong
      >. Mi objetivo es mejorar la empleabilidad de la comunidad hispana y el
      acceso a contenido de calidad.
    </p> -->


<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
